
@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>
<h2>Are You Sure You Want To Delete This Handler?</h2>
@*  <button type="button">Ok</button> *@
<td>
    @Html.ActionLink("OK", "ResumeDeletion", "Config")
</td>